@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}

/* nav */
.nav_container {
    width: 100vw;
    height: 10vh;
    background: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav_icon {
    display: flex;
    gap: 1em;
}


.nav_icon h2 {
    font-weight: 700;
    font-size: 2.5rem;
}

.nav_icon h2 span {
    color: #FF42A5;
}

.nav2_container {
    display: flex;
    align-items: center;
    gap: 2em
}

 nav ul {
    display: flex;
    align-items: center;
    gap: 1.5em;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
}

.follow {
    padding: 1em;
    align-items: center;
    gap: 1em;
    display: flex;
    background: rgb(11, 2, 35, 0.10);
    border-radius: 8px;
}

/* hero section */
.hero_section {
    margin-top: 9em;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .hero_div {
    padding: 3em;
    padding-left: 1.8em;
    padding: 3em 3em 
} */

.play {
    color: #0B0223;
    padding: 0.5em 0;
    font-size: 2.5rem;
}

.goat {
    padding: 0.5em 0;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4.5rem;
    font-weight: 800;
}

.hero_div .play1 {
    display: flex;
    padding: 0.5em 0;
    gap: 1em;
}
.hero_div .download {
    display: flex;
    padding: 0.5em 0;
    gap: 1em;
}
.hero_div .people {
    display: flex;
    padding: 0.5em 0;
    gap: 1em;
}

.hero_div .sign_btn {
    display: flex;
    padding: 0.5em 0;
    gap: 1em;
}
.hero_div .sign_btn .signin {
    background: #FF42A5;
    padding: 0.5em 1em;
    border-radius: 25px;
    color: white;
}

.hero_div .sign_btn .rouge {
    background: #4EC5F7;
    padding: 0.5em 1em;
    border-radius: 25px;
    color: white;
}

.hero_img_div {
    margin-left: 8em;
}

/* main */
main {
    width: 80vw;
    margin: 0 auto;
}

/* section one */
.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
    gap: 2em;
}

.sec1_img {
    width: 50%;
}
.sec1_img img {
    width: 100%;
}

.sec1_des h2 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
    font-weight: 800;
    text-align: right;
}

.sec1_des {
    width: 50%;
    text-align: right;
    padding-right: 0.5em;
}

.p_des {
    padding: 1.5em 0;
    color: gray;
    line-height: 30px;
    font-size: 1rem;
}

.sec1_des .btn {
    font-size: 1rem;
    color: white;
    font-weight: 400;
    display: inline;
    padding: 0.6em 1.2em;
    border-radius: 25px;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
}

.sec1_des .unleash {
    font-size: 1.3rem;
    color: #534C64;
    font-weight: 700;
}

/* section two */
.section2 {
    text-align: center;
    margin-top: 4em;
}

.sec2_container {
    display: flex;
    justify-content: space-between;
}

.box img {
    width: 92%;
}

.section2 h2 {
    font-size: 2.5rem;
    font-weight: 800;
}

.section2 h2 .funny {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* section three */
.section3 {
    width: 100%;
    margin-top: 5em;
    display: flex;
    justify-content: center;
    gap: 10em;
}

.des_div {
    width: 50%;
    margin: auto auto;
    text-align: right;
}

.des_div h2 {
    font-size: 2.5rem;
    font-weight: 800;

}

.des_div h2 span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.img_div {
    width: 50%;
    position: relative;
} 

.img_div img {
    width: 100%;
}

.img_div .img2 {
    position: absolute;
    width: 50%;
    top: 248px;
    right: 298px;
    
}

/* section four */
.section4 {
    display: flex;
    margin-top: 11em;
    gap: 6em;
}

.sec4_img_container {
    width: 100%;
    position: relative;
}

.sec4_img_container img {
    width: 80%;
}

.sec4_img_container .img4 {
    width: 40%;
    position: absolute;
    bottom: 0;
    left: 315px;
    top: 240px;
}

.sec4_des {
    margin: auto;
    text-align: left;
}

.sec4_des h2 {
    font-size: 2.5rem;
    font-weight: 800;
}

.sec4_des .ply_gm {
    color: #F948B2;
}

.sec4_des .online {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* footer */
footer {
    width:100vw;
}
/* section five */
.section5 {
    width: 100%;
    margin-top: 9em;
    padding: 5em;
    color: #FFF;
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
    display: flex;
}

.sec5_des1 {
    width: 50%;
}
.sec5_des1 h2 {
    font-size: 2.5rem;
    font-weight: 800;
}

.des_div5 {
    display: flex;
    padding-top: 1em;
    font-size: 1.1rem;
}

.des_div5 .btn_div button {
    background: #FFF;
    padding: 1em 2em;
    font-size: 1rem;
    color:#F948B2;
    font-weight: 600;
    border-radius: 25px;
    border-style: none;
}

.des_div5 .btn_div div {
    padding-top: 2.2em;
}

.p_des5 {
    color: white;
    padding: 1em 0;
}

.des_div5 p {
    line-height: 40px;
}

.sec5_img {
    width: 50%;
}
.sec5_img img {
    width: 100%;
}
.div5_p1 {
    text-align: left;
}

.div5_p2 {
    text-align: right;
}

/* section six */
.section6 {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 6em 2em;
    gap: 2em;
    line-height: 4em;
}

.div6 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.div6 p {
    font-weight: 500;
}
.border {
    border: 1px solid #F948B2;
    padding: 0 1em;
    border-radius: 65px;
    color: #F948B2;
}

/* section seven */
.section7 {
    padding: 4em;
    background: #0B0223;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.color h2 {
    color: #FFF;
}

.color {
    padding-bottom: 2.5em;
}

.sec7_div1 .sec7_ul1 {
    padding-bottom: 2em;
    color: #FFF;
    display: flex;  
}

.sec7_div3 .sec7_ul2 {
    padding-bottom: 2em;
    color: rgba(255, 255, 255, 0.60);
    display: flex;
    font-size: 1rem;
    gap: 2.5em;
}

.sec7_div3 .sec7_ul2 li {
    list-style: none;
}

.sec7_div1 .sec7_ul1 {
    gap: 3em;
}

.sec7_div1 .sec7_ul1 li {
    list-style: none;
}

.sec7_div2 {
    padding-bottom: 2em;
}

.sec7_div2 img {
    padding: 1em;
}

.sec7_div4 p {
    color: rgba(255, 255, 255, 0.60);
}

/* mobile responsive */
@media screen and (max-width: 577px) {
/* header */
    header {
        width: 80vw;
        margin: 0 auto;
    }
/* nav  */

    .nav_container {
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }
    
    .nav2_container {
        flex-direction: column;
        align-items: center;
        
    }

    .nav_icon {
        margin-top: 2em;
    }
    .nav_icon .icon_div1 {
        width: 30%;
    }
    .nav_icon .icon_div1 img {
        width: 100%;
    }

    .nav_icon h2 {
        font-size: 2.2rem;
    }

    .nav2_container ul {
        flex-direction: column;
    }

    .follow {
        width: 95%;
    }
/* hero section */
    .hero_section {
        width: calc(100vw - 20vw);
        flex-direction: column-reverse;
        margin-top: 15em;
        gap: 2em;
    }

    .hero_img_div {
        width: 100%;
        margin-left: 0;
      
    }
    h2 .goat {
        font-size: 3rem;
    }

    .hero_img_div img {
        width: 100%;
    }

    .hero_div {
        margin-top: 4em;
    }
    .hero_div .sign_btn {
        justify-content: space-between;
    }
/* main */
    main {
        width: 80vw;
    }

/* section one */
    .section1 {
        width: calc(100vw - 20vw);
        flex-direction: column;
    }

    .sec1_img {
        padding-top: 3em;
    }

    .sec1_img img {
        width: 100%;
    }

    .sec1_des {
        text-align: center;
        padding-top: 2em;
    }

    .sec1_des h2 {
        text-align: center;
    }
/* secton one ends here */

/* section two starts here */
    .section2 {
        width: calc(100vw - 20vw);
        padding-top: 2em;
    }
    .section2 h2 {
        font-size: 2rem;
    }

    .section2 .p_des {
        font-size: 0.9rem;
    }

    .sec2_container {
        flex-direction: column;
    }

    .sec2_container .box {
        width: 100%;
        padding-top: 2em;
    }
    .sec2_container .box img {
        width: 100%;
    }
/* section two ends here */

/* section three starts here*/
    .section3 {
        width: calc(100vw - 20vw);
        flex-direction: column;
        gap: 2em;
    }
    .section3 .des_div {
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .section3 .des_div h2 {
        font-size: 2rem;
    }
    .section3 .des_div p {
        font-size: 0.6rem;
    }
    .img_div {
        width: 100%;
    }
    .img_div img {
        position: relative;
        width: 85%;
        left: 38px;
    }
    .img_div .img2  {
        left: 0;
        top: 121px;
        width: 50%;
    }
/* section three ends here */

/* section four */
    .section4 {
        width: calc(100vw - 20vw);
        flex-direction: column-reverse;
        margin-top: 6em;
        gap: 2em;
    }

    .section4 .sec4_des {
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .section4 .sec4_des h2 {
        font-size: 2rem;
    }
    .section4 .sec4_des P {
        font-size: 0.6rem;
    }
    .sec4_img_container {
        padding: 0;
        width: 100%;
    }

    .sec4_img_container img {
        width: 85%;
        position: relative;
        left: 0;
    }

    .sec4_img_container .img4 {
        width: 50%;
        top: 84px;
        left: 127px;
    }
/* section four ends here */

/* footer */
    footer {
        width: 100vw;
    }

    /* section five */
    .section5 {
        flex-direction: column;
    }
    .sec5_des1 {
        padding: 0;
        width: 100%;
        text-align: center;
        font-size: 0.9rem;
    }

    .sec5_des1 h2 {
        font-size: 2rem;
    }

    .div5_p1 {
        padding: 0;
        font-size: 1rem;
    }
    .div5_p2 {
        font-size: 1rem;
    }
    .des_div5 .btn_div div {
        text-align: left;
    }
    .des_div5 .btn_div button {
        padding: 1em 1em;
        font-size: 0.7rem;
    }
    .sec5_img {
        width: 100%;
        padding: 0;
    }

    .sec5_img img {
        width: 100%;
        padding: 0;
    }

/* section six starts here*/
    .section6 {
    display: grid;
    width: 80%;
    padding: 0;
    margin: 4em auto;
    }

    .div6 {
        justify-content: start;
        gap: 0.5em;
    }

    .div6 img {
        width: 22%;
    }

    .div6 p {
        font-size: 1rem;
    }

    .border {
        padding: 0;
    }
/* section six ends here */

/* section seven */
    .sec7_div1 .sec7_ul1 {
        font-size: 0.8rem;
        gap: 1.3rem;
    }

    .sec7_div2 {
        display: flex;
        justify-content: center;
    }

    .sec7_div2 img {
        width: 7%;
        padding: 0.8em;
    }

    .sec7_div3 .sec7_ul2 {
        gap: 1.5em;
        font-size: 0.8rem;
    }

    .sec7_div4 p {
        font-size: 0.8rem;
    }
}

/* tablet responsive starts here */
@media screen and (min-width: 578px) and (max-width: 800px) {
    header {
        width: 80vw;
        margin: 0 auto;
    }
/* hero section starts here */
    .hero_section {
        flex-direction: column-reverse;
        gap: 4em;
    }
    .hero_img_div {
        margin: 0;
        width: 100%;
    }
    .hero_img_div img {
        width: 100%;
    }
/* hero section ends here */
    main {
        width: 80vw;
    }
/* section one starts here */
    .section1 {
        flex-direction: column;
    }
    .section1 .sec1_img {
        width: 100%;
    }
    .section1 .sec1_img img {
        width: 100%;
    }
    .sec1_des {
        width: 90%;
        text-align: center;
    }
    .sec1_des h2 {
        text-align: center;
    }
/* section one ends here */

/* section two starts here */
    .sec2_box {
        width: 100%;
    }
    .sec2_box img {
        width: 100%;
    }

/* section three starts here */
    .section3 {
        flex-direction: column;
        gap: 2em
    }
    .section3 .des_div {
        text-align: center;
    }
    .img_div img {
            position: relative;
            width: 85%;
            left: 92px;
    }
    .img_div .img2 {
        width: 50%;
        top: 300px;
        left: 0;
    }
/* section three ends here */

/* section four starts here */
    .section4 {
        flex-direction: column-reverse;
        gap: 2em;
    }
    .sec4_des {
        padding: 0;
        text-align: center;
    }
    .sec4_img_container {
        width: 100%;
    }
    .sec4_img_container img {
        width: 80%;
    }
    .sec4_img_container .img4 {
        top: 270px;
        width: 40%;
        left: 366px;
    }
/* section four ends here */

/* section five starts here */
    .section5 {
        width: 100%;
    }
    .section5 .parent5 {
        margin: 2em;
    }
    
    .des_div5 {
        justify-content: space-between;
    }
    .sec5_des1 {
        width: 100%;
        padding: 0;
        text-align: center;
        padding: 0;
    }
    .btn_div div {
        text-align: left;
    }
    .sec5_img {
        width: 100%;
        padding: 0;
    }
    .sec5_img img {
        width: 100%;
    }
/* section five ends here */

/* section six starts here */
    .section6 {
        width: 80%;
        margin: 3em auto;
        padding: 0;
        gap: 4em;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .div6 {
        justify-content: start;
    }

}